* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 100px;
}

.products .product {
  width: 30%;
  height: 650px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 30px;
}

.products .product img {
  width: 50%;
  height: 200px;
}

.products .product h2 {
  font-size: 25px;
  font-weight: 700;
  height: 100px;
}
.products .product p {
  font-size: 18px;
  height: 100px;
  overflow-y: scroll;
  margin: 20px 0;
}
.products .product h3 {
  text-align: end;
  font-weight: 900;
  font-size: 20px;
  margin: 20px;
  color: rgb(28, 127, 3);
}
